In [24]:
from cassandra.cluster import Cluster
import os
# from mock.tasks import adiciona_carro
cluster = Cluster(['cassandra'])
session = cluster.connect()

In [3]:
session.execute("""

CREATE KEYSPACE simulacao WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1};
USE simulacao;
CREATE TABLE simulacao (
  placa text,
  rodovia text,
  tempo_da_simulacao double,
  pos_x double,
  pos_y double,
  PRIMARY KEY ((placa, rodovia), tempo_da_simulacao)
);

""")

NameError: name 'session' is not defined

In [26]:
session.execute("USE simulacao")

In [27]:
session.execute("SELECT COUNT(*) FROM simulacao;")[0]

/tmp/ipykernel_421/2139627382.py:1: DeprecationWarning: ResultSet indexing support will be removed in 4.0. Consider using ResultSet.one() to get a single row.
  session.execute("SELECT COUNT(*) FROM simulacao;")[0]

Row(count=870)

In [20]:
session.execute("INSERT INTO simulacao (placa, rodovia, tempo_da_simulacao, pos_x, pos_y) VALUES ('ABC-1234', 'BR-101', 1.5, 10.2, 5.6);")

In [33]:
# for i in range(800):
#     print(session.execute("SELECT * FROM simulacao;")[i])

In [2]:
result - session.execute("select * from simulacao where tempo_de_simulacao (select min(tempo_de_simulacao)) from simulacao")

NameError: name 'session' is not defined

In [16]:
# session.shutdown()

In [17]:
# cluster.shutdown()

In [36]:
# from mock.tasks import adiciona_carro

In [34]:
# adiciona_carro.delay('ABC-1234', 'BR-101', 1.5, 10.2, 5.6)

In [35]:
# adiciona_carro.delay('DEF-5678', 'BR-101', 3.5, 11.26, 8.6)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql.types import * 
from pyspark.sql import SparkSession, DataFrame as SparkDataFrame
import pyspark.sql.functions as F
from pyspark.sql.functions import col,isnan, when, count
from pyspark import SparkContext
from pyspark.sql import SQLContext
import json
from functools import reduce
import sys
from cassandra.cluster import Cluster
import os

# cluster = Cluster(['cassandra'])
# session = cluster.connect()

In [ ]:
# ss = SparkSession.builder.appName("test").getOrCreate()
# sql = SQLContext(ss)

In [4]:
spark = SparkSession.builder \
    .appName("CassandraExample") \
    .config("spark.cassandra.connection.host", "host.docker.internal") \
    .config("spark.cassandra.connection.port", "9042") \
    .getOrCreate()

In [ ]:
spark.read.format("org.apache.spark.sql.cassandra").options(table="simulacao", keyspace="simulacao").load().createOrReplaceTempView("cassandra_table")

In [13]:
query = "SELECT * FROM cassandra_table"
result_df = spark.sql(query)

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `simulacao` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [simulacao], [], false

In [ ]:
result_df