## Exportando para o MariaDB

In [1]:
import mysql.connector as database
import os

In [41]:
connection = database.connect(
    host="host.docker.internal",  # Replace with the MariaDB container IP if necessary
    port=3306,  # Default MariaDB port
    user="root",  # MariaDB root user
    password="secret"  # MariaDB root password
   # database="mydatabase"  # Replace with your desired database name
)

In [42]:
cursor = connection.cursor()

In [ ]:
file = open('create_final_db.sql', 'r')
a = file.read()

In [33]:
cursor.execute(a)

In [46]:
query = """
USE dashboard;
"""
cursor.execute(query)

In [ ]:
placa, pos_x, pos_y, aceleracao, velocidade, multas, risco_colisao, direcao_perigosa,velocidade_acima

In [49]:
query = """
INSERT INTO carros (placa, pos_x, pos_y, aceleracao, velocidade, multas, risco_colisao, direcao_perigosa,velocidade_acima)
values ("ABC-1234", 23, 14, 0.13, 17.0, 0, 1, 1, 0);
"""
cursor.execute(query)

DataError: 1264 (22003): Out of range value for column 'pos_x' at row 1

In [44]:
query = """
SELECT * FROM carros;
"""
cursor.execute(query)

In [45]:
result = cursor.fetchall()
for i in result:
    print(i)

[]