In [4]:
import mysql.connector as database
import os

print("Establishing connection to the Database")

connection = database.connect(
    host="host.docker.internal",
    port=3306,
    user="root",
    password="secret"
)

Establishing connection to the Database

In [5]:
cursor = connection.cursor()

file = open('create_final_db.sql', 'r')
query = file.read()

cursor.execute(query)

DatabaseError: 1007 (HY000): Can't create database 'dashboard'; database exists

In [7]:
cursor.execute('USE dashboard')
cursor.execute('select count(*) from carros')

In [9]:
cursor.fetchall()

[(0,)]

In [ ]:
connection.commit()
print("Schema and Tables succesfully created")

cursor.close()
connection.close()